<?xml version="1.0" encoding="UTF-8"?>
<settings>   
    <baseurl>https://api-free.deepl.com/v2</baseurl>
    <credentials>
       <header name="Authorization">basic KEY HERE</header>
    </credentials>
    <Content-Type>application/json; charset=UTF-8</Content-Type>
    <route></route>
    <method>GET</method>
    <implementation></implementation>
    <query> 
    </query>
</settings>
